* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 #menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex; 
  align-items: center; 
  position: fixed;
  top: 20px;
  left: 20px;
  width: 42px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
/* робимо "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d9ad0c;
}

.menu__btn > span::before {
  content: '';
  top: -12px;
}
.menu__btn > span::after {
  content: '';
  top: 12px;
}
/*не працює ховер*/
.menu__btn:hover .menu__btn > span::before{
  top: -14px;
}
.menu__btn:hover .menu__btn > span::after {
  top: 14px;
}


#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
